html {
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.snackbar-container.snackbar-pos.top-right {
  display: flex;
  pointer-events: none;
  justify-content: center;
}

.snackbar-container.snackbar-pos.top-right .action {
  display: none;
}